.play-control {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px 30px;
  margin-top: 30px;
}

.play-contol__number {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 15px;
  opacity: 0.6;
}

.play-contol__before {
  height: 3px;
  width: 50%;
  background-color: black;
}
.play-contol__total {
  height: 3px;
  border-radius: 10px;
  background-color: silver;
  position: relative;
}

.play-contol__now {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: -3px;
  left: 50%;
}
