@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 23px;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  opacity: 0.7;
}

.container {
  height: 900px;
  width: 400px;
  padding: 0px 30px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.first-row i {
  position: absolute;
  left: 30px;
}

.second-row,
.third-row,
.fourth-row__section {
  display: flex;
}

.second-row {
  margin: 50px 0px;
}

.third-row {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.square-icon,
.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
}

.button:hover {
  cursor: pointer;
}

.music-image__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-image,
.music-image__main {
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 15px;
}

.music-image__main {
  width: 130px;
  height: 130px;
  background-color: whitesmoke;
}

.fourth-row__section:nth-child(1) .music-image {
  background-color: #b9eddd;
}

.fourth-row__section:nth-child(2) .music-image {
  background-color: #87cbb9;
}

.fourth-row__section:nth-child(3) .music-image {
  background-color: #569daa;
}

.fourth-row__section:nth-child(4) .music-image {
  background-color: #577d86;
}

.music-details,
.music-details__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.music-details {
  padding-left: 15px;
}

.music-details__main h1,
.music-details__main h4 {
  padding-left: 15px;
  font-weight: 600;
  text-align: justify;
}

.music-details__main h4 {
  font-size: 20px;
}

.square-icon,
.circle-icon {
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.square-icon {
  width: 180px;
  border-radius: 10px;
}

.circle-icon {
  width: 60px;
  border-radius: 50%;
}

.fourth-row__section {
  padding: 25px 0px;
}
