.play-music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-music__image {
  width: 260px;
  height: 260px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.play-music__title {
  margin-top: 50px;
  font-size: 30px;
  padding: 10px 0px;
}
.play-music__sub-title {
  font-size: 15px;
  opacity: 0.6;
}
