/* Components */
@import "components/status-bar.css";
@import "components/nav.css";
@import "components/play-control.css";
@import "components/play-nav.css";

/* Screens */
@import "screens/main-music.css";
@import "screens/playlist.css";
@import "screens/play-music.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
}

.screen {
  width: 400px;
  height: 800px;
  border-radius: 20px;
  background-color: white;
}
